@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald:wght@500&display=swap");
* {
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
p {
  font-size: 0.8rem;
}
body {
  min-height: 100vh;
  background: rgb(29, 29, 29);
  color: rgb(240, 237, 237);
}
nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px;
}
nav ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.header {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

h1 {
  font-size: 5rem;
}

.header-left-container h3 {
  color: blue;
  font-size: 1.8rem;
}
.header-right {
  width: 50%;
}
#modem {
  width: 100%;
  margin: 0 auto;
}
.infos {
  display: grid;
  grid-template-columns: 33% 66%;
  background: rgb(14, 13, 13);
  border-radius: 10px;
}
.btn-container {
}
button {
  border: none;
  background: blue;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}
.infos-right {
  width: 67%;
}
.investors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86%;
}
.img-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.img-container img {
  height: 60px;
}

/* ***************media queries */
@media screen and (max-width: 1320px) {
  h1 {
    font-size: 2.5rem;
  }
  .header-left-container h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 700px) {
  nav {
    grid-template-columns: 35% 65%;
  }
  nav ul {
    font-size: 0.7rem;
  }
}
.header {
  display: block;
}
